.qwq{
    background:  #FF9000;
    padding: 38px 24px;
}
.fa-facebook {
    /* background: #000000; */
    color: #4b4a4a
  }
  
  /* Twitter */
  .fa-linkedin {
    /* background: #000000; */
    color: #4b4a4a
  }
  .fa{
      margin-right: 15px;
      text-decoration: none;
      
  }